body {
  background-image: linear-gradient(
    to right,
    rgb(135, 113, 113),
    rgb(182, 182, 26),
    rgb(137, 122, 89)
  );
}

nav a {
  text-decoration: none;
  color: white;
  position: relative;
}

nav a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: white;
  margin-top: 3px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
}

nav a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.background {
  padding: 100px 50px 10px 50px;
  margin-bottom: 0px;
  position: relative;
  z-index: -1;
}

.background-image {
  width: 100%;
  height: 700px;
  object-fit: cover;
  opacity: 0.8;
}

.side-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture-container {
  position: relative;
}

.text {
  position: absolute;
  top: 50%;
  left: 42%;
  color: white;
  font-size: 80px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

span {
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgb(36, 30, 30);
  justify-content: space-between;
  height: 70px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    rgb(135, 113, 113),
    rgb(182, 182, 26),
    rgb(137, 122, 89)
  );
}

.logo {
  font-size: 40px;
  flex-basis: 35%;
  text-align: center;
  padding-top: 7px;
}

.logo-text {
  color: gold;
}

.menu {
  flex-basis: 12%;
  font-size: 25px;
  text-align: center;
  margin-right: 5px;
  transition: font-size 0.15s, font-weight 0.15s;
  padding-top: 15px;
}

.menu:hover {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.promotions {
  flex-basis: 12%;
  font-size: 25px;
  text-align: center;
  margin-right: 5px;
  transition: font-size 0.15s, font-weight 0.15s;
  padding-top: 15px;
}

.promotions:hover {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.reviews {
  flex-basis: 12%;
  font-size: 25px;
  text-align: center;
  margin-right: 5px;
  transition: font-size 0.15s, font-weight 0.15s;
  padding-top: 15px;
}

.reviews:hover {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.contacts {
  flex-basis: 12%;
  font-size: 25px;
  text-align: center;
  margin-right: 5px;
  transition: font-size 0.15s, font-weight 0.15s;
  padding-top: 15px;
}

.contacts:hover {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.membership {
  flex-basis: 12%;
  font-size: 25px;
  text-align: center;
  margin-right: 5px;
  transition: font-size 0.15s, font-weight 0.15s;
  padding-top: 15px;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
  margin-top: 10px;
  color: white;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  flex: 0.25;
}

.inner-layout {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.display {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.display2 {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.category {
  font-size: 50px;
  text-align: center;
  color: white;
}

.display-of-drinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 200px;
  row-gap: 150px;
}

.picture-of-drink {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: border-radius 0.5s;
}

.picture-of-drink:hover {
  border-radius: 0%;
}

.drink-container {
  transition: box-shadow 0.5s, transform 0.5s, z-index 0.5s;
}

.drink-container:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
  z-index: 2;
}

p.drink-name {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  color: white;
}

p.drink-info {
  font-size: 20px;
  margin-top: 5px;
  width: 1fr;
  color: white;
}

@media screen and (max-width: 1320px) {
  .container {
    padding: 10px 30px 10px;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    padding: 10px 20px 10px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    padding: 10px 20px 10px;
  }

  .nav-logo {
    display: block;
    cursor: pointer;
    padding-top: 15px;
    margin-right: 10px;
  }

  .nav-logo .line {
    width: 30px;
    border-radius: 5px;
    height: 3px;
    background-color: white;
    margin: 7px 0px;
  }

  .menu {
    position: absolute;
    padding-top: 0;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .menu.active {
    opacity: 0.9;
  }

  .promotions {
    position: absolute;
    padding-top: 0;
    top: 120px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }
  .promotions.active {
    opacity: 0.9;
  }

  .reviews {
    position: absolute;
    padding-top: 0;
    top: 160px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .reviews.active {
    opacity: 0.9;
  }

  .contacts {
    position: absolute;
    padding-top: 0;
    top: 200px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .contacts.active {
    opacity: 0.9;
  }

  .membership {
    position: absolute;
    padding-top: 0;
    top: 240px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .membership.active {
    opacity: 0.9;
  }
}
