body {
  background-image: linear-gradient(
    to right,
    rgb(135, 113, 113),
    rgb(182, 182, 26),
    rgb(137, 122, 89)
  );
}

a {
  text-decoration: none;
  color: white;
}

.background {
  padding: 100px 50px 10px 50px;
  margin-bottom: 0px;
  position: relative;
  z-index: -1;
}

.background-image {
  width: 100%;
  height: 700px;
  object-fit: cover;
  opacity: 0.8;
}

.side-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture-container {
  position: relative;
}

.text {
  position: absolute;
  top: 50%;
  left: 42%;
  color: white;
  font-size: 80px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

span {
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  background: rgb(36, 30, 30);
  justify-content: space-between;
  height: 70px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    rgb(135, 113, 113),
    rgb(182, 182, 26),
    rgb(137, 122, 89)
  );
}

.logo {
  font-size: 40px;
  flex-basis: 40%;
  text-align: center;
  padding-top: 7px;
}

.logo-text {
  color: gold;
}

.menu {
  flex-basis: 10%;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  transition: font-size 0.15s, font-weight 0.15s;
  padding-top: 15px;
}

.menu:hover {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.promotions {
  flex-basis: 10%;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  transition: font-size 0.15s, font-weight 0.15s;
  padding-top: 15px;
}

.promotions:hover {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.reviews {
  flex-basis: 10%;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  transition: font-size 0.15s, font-weight 0.15s;
  padding-top: 15px;
}

.reviews:hover {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.contacts {
  flex-basis: 10%;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  transition: font-size 0.15s, font-weight 0.15s;
  padding-top: 15px;
}

.contacts:hover {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.membership {
  flex-basis: 10%;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  transition: font-size 0.15s, font-weight 0.15s;
  padding-top: 15px;
}

.membership:hover {
  text-decoration: underline;
  cursor: pointer;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.submission {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

p {
  color: white;
  font-size: 50px;
}

label {
  color: white;
  font-size: 25px;
}

.information {
  margin-bottom: 30px;
}

.buttons {
  border-radius: 10px;
  background-color: lightcoral;
  font-size: 20px;
}

.buttons:hover {
  cursor: pointer;
  opacity: 0.7;
}

.popup {
  background-color: white;
  width: 400px;
  padding-bottom: 20px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  visibility: hidden;
  transition: transform 0.5s, scale 0.5s;
}

.openPopup {
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.popup p {
  color: black;
  font-size: 20px;
  margin-bottom: 50px;
}

.tick-image {
  width: 50%;
  height: fit-content;
  border-radius: 50%;
  margin-top: -90px;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.ok-button {
  background-color: rgb(75, 224, 75);
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 10px;
  border-radius: 20px;
  border: 0;
  outline: none;
  height: 10%;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}
