a {
  text-decoration: none;
  color: black;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(31, 19, 19),
    rgb(22, 22, 78),
    rgb(59, 26, 59)
  );
}

.container {
  display: flex;
  flex-direction: row;
  background: rgb(241, 241, 79);
  justify-content: space-between;
  height: 70px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.logo {
  background-color: lightpink;
  flex-basis: 5%;
  margin-right: 5px;
  text-align: center;
}

.image {
  width: 50%;
  border-radius: 50%;
  height: 90%;
  object-fit: cover;
  margin-top: 3px;
  transition: width 0.15s, height 0.15s;
}

.image:hover {
  width: 80%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.menu {
  flex-basis: 15%;
  font-size: 30px;
  text-align: center;
  margin-right: 10px;
  transition: font-size 0.15s, font-weight 0.15s;
  padding-top: 15px;
}

.menu:hover {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.promotions {
  flex-basis: 15%;
  font-size: 30px;
  text-align: center;
  margin-right: 10px;
  transition: font-size 0.15s, font-weight 0.15s;
  background-color: pink;
  padding-top: 15px;
}

.promotions:hover {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.reviews {
  flex-basis: 15%;
  font-size: 30px;
  text-align: center;
  margin-right: 10px;
  transition: font-size 0.15s, font-weight 0.15s;
  background-color: red;
  padding-top: 15px;
}

.reviews:hover {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.contacts {
  flex-basis: 15%;
  font-size: 30px;
  text-align: center;
  margin-right: 10px;
  transition: font-size 0.15s, font-weight 0.15s;
  background-color: green;
  padding-top: 15px;
}

.contacts:hover {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.membership {
  flex-basis: 15%;
  font-size: 30px;
  text-align: center;
  margin-right: 10px;
  transition: font-size 0.15s, font-weight 0.15s;
  background-color: lightpink;
  padding-top: 15px;
}

.membership:hover {
  text-decoration: underline;
  cursor: pointer;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.submission {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

p {
  color: white;
  font-size: 50px;
}

label {
  color: white;
  font-size: 25px;
}

.information {
  margin-bottom: 30px;
}

.buttons {
  border-radius: 10px;
  background-color: lightcoral;
  font-size: 20px;
}

.buttons:hover {
  cursor: pointer;
  opacity: 0.7;
}

.popup {
  background-color: white;
  width: 400px;
  padding-bottom: 20px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  visibility: hidden;
  transition: transform 0.5s, scale 0.5s;
}

.openPopup {
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.popup p {
  color: black;
  font-size: 20px;
  margin-bottom: 50px;
}

.tick-image {
  width: 50%;
  height: fit-content;
  border-radius: 50%;
  margin-top: -90px;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.ok-button {
  background-color: rgb(75, 224, 75);
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 10px;
  border-radius: 20px;
  border: 0;
  outline: none;
  height: 10%;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}
