body {
  background-image: linear-gradient(
    to right,
    rgb(135, 113, 113),
    rgb(182, 182, 26),
    rgb(137, 122, 89)
  );
}

nav a {
  text-decoration: none;
  color: white;
  position: relative;
}

nav a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: white;
  margin-top: 3px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
}

nav a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.background {
  padding: 100px 50px 10px 50px;
  margin-bottom: 0px;
  position: relative;
  z-index: -1;
}

.background-image {
  width: 100%;
  height: 700px;
  object-fit: cover;
  opacity: 0.8;
}

.side-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture-container {
  position: relative;
}

.text {
  position: absolute;
  top: 50%;
  left: 42%;
  color: white;
  font-size: 80px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

span {
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  background: rgb(36, 30, 30);
  justify-content: space-between;
  height: 70px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    rgb(135, 113, 113),
    rgb(182, 182, 26),
    rgb(137, 122, 89)
  );
}

.logo {
  font-size: 40px;
  flex-basis: 35%;
  text-align: center;
  padding-top: 7px;
}

.logo-text {
  color: gold;
}

.menu {
  flex-basis: 12%;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  transition: font-size 0.15s, font-weight 0.15s;
  padding-top: 15px;
}

.menu:hover {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.promotions {
  flex-basis: 12%;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  transition: font-size 0.15s, font-weight 0.15s;
  padding-top: 15px;
}

.promotions:hover {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.reviews {
  flex-basis: 12%;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  transition: font-size 0.15s, font-weight 0.15s;
  padding-top: 15px;
}

.reviews:hover {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.contacts {
  flex-basis: 12%;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  transition: font-size 0.15s, font-weight 0.15s;
  padding-top: 15px;
}

.contacts:hover {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.membership {
  flex-basis: 12%;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  transition: font-size 0.15s, font-weight 0.15s;
  padding-top: 15px;
}

.membership:hover {
  text-decoration: underline;
  cursor: pointer;
}

.layout {
  display: flex;
  flex-direction: column;
  padding: 0px 15px 0px 15px;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image-box {
  margin-top: 100px;
  margin-bottom: 0;
  border-radius: 10px;
  width: 100%;
  height: 650px;
  position: relative;
  background-image: url("../images/cafe-background.jpg");

  animation: fade 15s infinite;
}

@keyframes fade {
  20% {
    background-image: url("../images/cafe-background2.jpg");
  }

  60% {
    background-image: url("../images/cafe-background3.jpg");
  }

  80% {
    background-image: url("../images/cafe-background.jpg");
  }
}

.image-text {
  position: absolute;
  top: 40%;
  left: 39%;
  font-size: 50px;
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.discount-text h1 {
  color: white;
  font-size: 30px;
}

.discount-text2 h1 {
  color: white;
  font-size: 30px;
}

span {
  font-size: 50px;
  color: red;
}

.container-for-swiper {
  background-color: rgb(45, 42, 42);
  border-radius: 50px;
  margin-top: 50px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.swiper {
  width: 60%;
  height: 80%;
  object-fit: contain;
}

.swiper-slide img {
  width: 100%;
  border-radius: 50px;
}

.container-for-swiper1 {
  background-color: rgb(45, 42, 42);
  border-radius: 50px;
  margin-top: 100px;
  width: 45%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 30px 20px;
}

@media screen and (max-width: 1650px) {
  .container {
    padding: 10px 30px 10px;
  }

  .image-text {
    top: 35%;
    left: 38%;
    transition: 0.5s;
  }

  .image-box {
    height: 650px;
  }
}

@media screen and (max-width: 1490px) {
  .container {
    padding: 10px 30px 10px;
  }

  .image-text {
    top: 30%;
    left: 38%;
    font-size: 45px;
    transition: 0.5s;
  }

  .image-box {
    height: 600px;
    transition: 0.5s;
  }
}

@media screen and (max-width: 1320px) {
  .container {
    padding: 10px 30px 10px;
  }
  .image-text {
    top: 30%;
    left: 38%;
    font-size: 40px;
    transition: 0.5s;
  }

  .image-box {
    height: 580px;
    transition: 0.5s;
  }

  .discount-text h1 {
    font-size: 28px;
    transition: 0.5s;
  }

  .discount-text2 h1 {
    font-size: 28px;
    transition: 0.5s;
  }

  span {
    font-size: 45px;
    transition: 0.5s;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    padding: 10px 20px 10px;
  }

  .image-box {
    height: 560px;
    transition: 0.5s;
  }

  .discount-text h1 {
    font-size: 25px;
    transition: 0.5s;
  }

  .discount-text2 h1 {
    font-size: 25px;
    transition: 0.5s;
  }

  span {
    font-size: 40px;
    transition: 0.5s;
  }
  .container-for-swiper .swiper {
    width: 58%;
    height: 70%;
    object-fit: cover;
  }
}

@media screen and (max-width: 980px) {
  .container {
    padding: 10px 20px 10px;
  }

  .image-text {
    top: 30%;
    left: 35%;
    font-size: 40px;
    transition: 0.5s;
  }

  .image-box {
    height: 540px;
    transition: 0.5s;
  }

  .disocunt-text h1 {
    font-size: 25px;
    transition: 0.5s;
  }

  .disocunt-text2 h1 {
    font-size: 25px;
    transition: 0.5s;
  }

  span {
    font-size: 30px;
    transition: 0.5s;
  }

  .container-for-swiper1 .swiper {
    width: 65%;
    height: fit-content;
    object-fit: cover;
  }

  .container-for-swiper1 {
    width: 40%;
  }

  .nav-logo {
    display: block;
    cursor: pointer;
    padding-top: 15px;
    margin-right: 10px;
  }

  .nav-logo .line {
    width: 30px;
    border-radius: 5px;
    height: 3px;
    background-color: white;
    margin: 7px 0px;
  }

  .menu {
    position: absolute;
    padding-top: 0;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .menu.active {
    opacity: 0.9;
  }

  .promotions {
    position: absolute;
    padding-top: 0;
    top: 120px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }
  .promotions.active {
    opacity: 0.9;
  }

  .reviews {
    position: absolute;
    padding-top: 0;
    top: 160px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .reviews.active {
    opacity: 0.9;
  }

  .contacts {
    position: absolute;
    padding-top: 0;
    top: 200px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .contacts.active {
    opacity: 0.9;
  }

  .membership {
    position: absolute;
    padding-top: 0;
    top: 240px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .membership.active {
    opacity: 0.9;
  }
}

@media screen and (max-width: 920px) {
  .container {
    padding: 10px 20px 10px;
  }

  .image-text {
    top: 30%;
    left: 35%;
    font-size: 40px;
    transition: 0.5s;
  }

  .image-box {
    height: 540px;
    transition: 0.5s;
  }

  .discount-text h1 {
    font-size: 20px;
    transition: 0.5s;
  }

  .discount-text2 h1 {
    font-size: 20px;
    transition: 0.5s;
  }

  span {
    font-size: 30px;
    transition: 0.5s;
  }

  .container-for-swiper1 .swiper {
    width: 65%;
    height: fit-content;
    object-fit: cover;
  }
  .container-for-swiper .swiper {
    width: 50%;
    height: 70%;
    object-fit: cover;
    transition: 0.4s;
  }

  .nav-logo {
    display: block;
    cursor: pointer;
    padding-top: 15px;
    margin-right: 10px;
  }

  .nav-logo .line {
    width: 30px;
    border-radius: 5px;
    height: 3px;
    background-color: white;
    margin: 7px 0px;
  }

  .menu {
    position: absolute;
    padding-top: 0;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .menu.active {
    opacity: 0.9;
  }

  .promotions {
    position: absolute;
    padding-top: 0;
    top: 120px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }
  .promotions.active {
    opacity: 0.9;
  }

  .reviews {
    position: absolute;
    padding-top: 0;
    top: 160px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .reviews.active {
    opacity: 0.9;
  }

  .contacts {
    position: absolute;
    padding-top: 0;
    top: 200px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .contacts.active {
    opacity: 0.9;
  }

  .membership {
    position: absolute;
    padding-top: 0;
    top: 240px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .membership.active {
    opacity: 0.9;
  }
}

@media screen and (max-width: 860px) {
  .container {
    padding: 10px 20px 10px;
  }

  .image-text {
    top: 28%;
    left: 33%;
    font-size: 40px;
    transition: 0.5s;
  }

  .image-box {
    height: 500px;
    transition: 0.5s;
  }

  .discount-text h1 {
    font-size: 22px;
    transition: 0.5s;
  }

  .discount-text2 h1 {
    font-size: 22px;
    transition: 0.5s;
  }

  span {
    font-size: 28px;
    transition: 0.5s;
  }

  .container-for-swiper .swiper {
    width: 50%;
    height: fit-content;
    object-fit: cover;
  }

  .container-for-swiper1 .swiper {
    width: 75%;
    height: fit-content;
    object-fit: cover;
  }

  .container-for-swiper1 .swiper-button-prev {
    transform: scale(0.5);
  }
  .container-for-swiper1 .swiper-button-next {
    transform: scale(0.5);
  }

  .nav-logo {
    display: block;
    cursor: pointer;
    padding-top: 15px;
    margin-right: 10px;
  }

  .nav-logo .line {
    width: 30px;
    border-radius: 5px;
    height: 3px;
    background-color: white;
    margin: 7px 0px;
  }

  .menu {
    position: absolute;
    padding-top: 0;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .menu.active {
    opacity: 0.9;
  }

  .promotions {
    position: absolute;
    padding-top: 0;
    top: 120px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }
  .promotions.active {
    opacity: 0.9;
  }

  .reviews {
    position: absolute;
    padding-top: 0;
    top: 160px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .reviews.active {
    opacity: 0.9;
  }

  .contacts {
    position: absolute;
    padding-top: 0;
    top: 200px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .contacts.active {
    opacity: 0.9;
  }

  .membership {
    position: absolute;
    padding-top: 0;
    top: 240px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .membership.active {
    opacity: 0.9;
  }
}

@media screen and (max-width: 770px) {
  .container {
    padding: 10px 20px 10px;
  }

  .image-text {
    top: 25%;
    left: 33%;
    font-size: 35px;
    transition: 0.5s;
  }

  .image-box {
    height: 450px;
    transition: 0.5s;
  }

  .container-for-swiper1 h1 {
    font-size: 20px;
    transition: 0.5s;
  }

  .container-for-swiper1 span {
    font-size: 25px;
    transition: 0.5s;
  }

  .container-for-swiper .swiper {
    width: 50%;
    height: fit-content;
    object-fit: cover;
  }

  .container-for-swiper1 .swiper {
    width: 75%;
    height: fit-content;
    object-fit: cover;
  }

  .container-for-swiper1 .swiper-button-prev {
    transform: scale(0.5);
  }
  .container-for-swiper1 .swiper-button-next {
    transform: scale(0.5);
  }

  .nav-logo {
    display: block;
    cursor: pointer;
    padding-top: 15px;
    margin-right: 10px;
  }

  .nav-logo .line {
    width: 30px;
    border-radius: 5px;
    height: 3px;
    background-color: white;
    margin: 7px 0px;
  }

  .menu {
    position: absolute;
    padding-top: 0;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .menu.active {
    opacity: 0.9;
  }

  .promotions {
    position: absolute;
    padding-top: 0;
    top: 120px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }
  .promotions.active {
    opacity: 0.9;
  }

  .reviews {
    position: absolute;
    padding-top: 0;
    top: 160px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .reviews.active {
    opacity: 0.9;
  }

  .contacts {
    position: absolute;
    padding-top: 0;
    top: 200px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .contacts.active {
    opacity: 0.9;
  }

  .membership {
    position: absolute;
    padding-top: 0;
    top: 240px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .membership.active {
    opacity: 0.9;
  }
}

@media screen and (max-width: 670px) {
  .container {
    padding: 10px 20px 10px;
  }

  .image-text {
    top: 24%;
    left: 30%;
    font-size: 35px;
    transition: 0.5s;
  }

  .side-by-side {
    display: flex;
    flex-direction: column;
  }

  .container-for-swiper1 {
    width: 100%;
    transform: scaleX(0.9);
    margin-top: 50px;
    padding: 30px 20px 30px 20px;
  }

  .container-for-swiper1:nth-child(2) {
    width: 100%;
    transform: scaleX(0.85) scaleY(0.9);
    margin-top: 50px;
    padding: 30px 20px 30px 20px;
  }

  .container-for-swiper1.swiper {
    width: 50%;
    height: fit-content;
    object-fit: cover;
  }

  .image-box {
    height: 390px;
    transition: 0.5s;
  }

  .container-for-swiper1 h1 {
    font-size: 20px;
    transition: 0.5s;
  }

  .container-for-swiper1 span {
    font-size: 35px;
    transition: 0.5s;
  }

  .container-for-swiper span {
    font-size: 35px;
  }

  .container-for-swiper h1 {
    font-size: 20px;
    transition: 0.5s;
  }
  .container-for-swiper .swiper {
    width: 50%;
    height: fit-content;
    margin-right: 10px;
    object-fit: cover;
  }

  .container-for-swiper {
    padding-right: 10px;
  }

  .container-for-swiper1 .swiper {
    width: 50%;
    height: fit-content;
    object-fit: cover;
  }

  .container-for-swiper1 .swiper-button-prev {
    transform: scale(1);
  }
  .container-for-swiper1 .swiper-button-next {
    transform: scale(1);
  }

  .nav-logo {
    display: block;
    cursor: pointer;
    padding-top: 15px;
    margin-right: 10px;
  }

  .nav-logo .line {
    width: 30px;
    border-radius: 5px;
    height: 3px;
    background-color: white;
    margin: 7px 0px;
  }

  .menu {
    position: absolute;
    padding-top: 0;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .menu.active {
    opacity: 0.9;
  }

  .promotions {
    position: absolute;
    padding-top: 0;
    top: 120px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }
  .promotions.active {
    opacity: 0.9;
  }

  .reviews {
    position: absolute;
    padding-top: 0;
    top: 160px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .reviews.active {
    opacity: 0.9;
  }

  .contacts {
    position: absolute;
    padding-top: 0;
    top: 200px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .contacts.active {
    opacity: 0.9;
  }

  .membership {
    position: absolute;
    padding-top: 0;
    top: 240px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .membership.active {
    opacity: 0.9;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10px 20px 10px;
  }

  .image-text {
    top: 22%;
    left: 26%;
    font-size: 35px;
    transition: 0.5s;
  }

  .image-box {
    height: 350px;
    transition: 0.5s;
  }

  .nav-logo {
    display: block;
    cursor: pointer;
    padding-top: 15px;
    margin-right: 10px;
  }

  .nav-logo .line {
    width: 30px;
    border-radius: 5px;
    height: 3px;
    background-color: white;
    margin: 7px 0px;
  }

  .menu {
    position: absolute;
    padding-top: 0;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .menu.active {
    opacity: 0.9;
  }

  .promotions {
    position: absolute;
    padding-top: 0;
    top: 120px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }
  .promotions.active {
    opacity: 0.9;
  }

  .reviews {
    position: absolute;
    padding-top: 0;
    top: 160px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .reviews.active {
    opacity: 0.9;
  }

  .contacts {
    position: absolute;
    padding-top: 0;
    top: 200px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .contacts.active {
    opacity: 0.9;
  }

  .membership {
    position: absolute;
    padding-top: 0;
    top: 240px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    opacity: 0;

    background-image: linear-gradient(
      to right,
      rgb(135, 113, 113),
      rgb(182, 182, 26),
      rgb(137, 122, 89)
    );
    transition: 0.2s;
  }

  .membership.active {
    opacity: 0.9;
  }
}
